#divider, .row {
    display: flex
}
#divider {
    width: 600px;
    height: 300px;
}
#keyboard {
    background-color: grey;
    width: 63%;
    height: 100%;
    border: 1px solid black;
}
#display {
    background-color: lightslategrey;
    width: 37%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
input {
    margin: 4%;
    width: 25%;
    height: 80%;
    border: 1px solid black;
}
.row {
    height: 33%;
}
#traces {
    margin: auto;
    background-color: lightgray;
    font-weight: bold;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 25px;
}